                    /* General */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  width: fit-content;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background: #F1F1F1;
  font-family: Muller, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

.btn {
  align-self: flex-start;
  padding: 11px 20px;
  color: var(--beige);  
  border: 1px solid var(--beige);
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}

                        /* Fonts */

@font-face {
  font-family: Muller;
  src: local(Muller-Regular),
  url(../fonts/MullerRegular.woff2) format("woff2"),
  url(../fonts/MullerRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

                        /* Colors */

:root {
  --white: #fff;
  --gray: #999;
  --dark-gray: #666;
  --black3: #333;
  --black0: #000;
  --beige: #C93;
  --light-beige: #F0BF5F;
  --dark-beige: #A47312;
}

                      /* Interaction */

.btn:focus {
  background-color: var(--beige);
  color: var(--white);
  outline: none;
}

.btn:hover:not(:focus-visible) {
  background-color: var(--beige);
  color: var(--white);
}

.btn:active:not(:focus-visible) {
  background-color: var(--dark-beige);
  color: var(--white);
}

/* -----------Phones and header-nav-------------- */

.interaction-group-one {
  transition: color 0.5s, outline 0.5s;
}

.interaction-group-one:focus-visible {
  color: var(--beige);
  outline: 1px solid var(--beige);
  outline-offset: 3px;
}

.interaction-group-one:hover:not(:focus-visible) {
  color: var(--beige);
}

.interaction-group-one:active:not(:focus-visible) {
  outline: none;
  color: var(--dark-beige);
}

/* ----------Mails, lk and user-agreement------------- */

.interaction-group-two {
  transition: color 0.5s, outline 0.5s, outline-offset 0.5s;
}

.interaction-group-two:focus-visible {
  color: var(--beige);
  outline: 1px solid var(--beige);
  outline-offset: 5px;
}

.interaction-group-two:hover:not(:focus-visible) {
  color: var(--light-beige);
}

.interaction-group-two:active:not(:focus-visible) {
  outline: none;
  color: var(--dark-beige);
}

/* -----------About-href--------------- */

.special-offers-details:active:not(:focus-visible), .special-offers-details-large:active:not(:focus-visible) {
  color: var(--white);
}

.special-offers-details:hover:not(:focus-visible), .special-offers-details-large:hover:not(:focus-visible) {
  padding: 0 25px 0 0;
}

.services-details-href:hover:not(:focus-visible) {
  color: var(--light-beige);
  padding: 0 25px 0 0;
  background-image: url(../img/Rectangle_2_hover.svg);
}

.services-details-href:active:not(:focus-visible) {
  color: var(--dark-beige);
}

/* ---------Focus-outline--------- */

.focus-outline:focus-visible {
  outline: none;
}

.focus-outline::before {
  content: '';
  transition: outline 0.5s;
}

.focus-outline:focus-visible::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 1px solid var(--beige);
  outline-offset: 8px;
}

  /* ------------SVG------------ */

.footer-social-network-img svg path {
  fill: var(--gray);
  transition: fill 0.5s;
}

.footer-social-network-img:focus {
  outline: none;
}

.footer-social-network-img:focus-visible svg path {
  fill: var(--beige);
}

.footer-social-network-img:hover:not(:focus-visible) svg path {
  fill: var(--beige);
}

.footer-social-network-img:active:not(:focus-visible) svg path {
  fill: var(--dark-beige);
}


                        /* Page */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}


                      /* Header */

.header {
  padding: 30px 0 35px 0;
}

.header-upper {
  padding: 0 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin: 0 40px 0 0;
}

.header-logo:focus-visible {
  outline: 1px solid var(--beige);
  outline-offset: 5px;
}

.header-phone {
  margin: 0 auto 0 0;
  color: var(--dark-gray);
  font-weight: 500;
  font-size: 20px;
  border: none;
}

.header-lk {
  color: var(--beige);
  position: relative;
  background-image: url(../img/keyboard_tab.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-left: 30px;
  transition: background-image 0.3s;
}

.header-lk:hover:not(:focus-visible) {
  background-image: url(../img/keyBoard_tab_hover.svg);
}

.header-lower {
  padding: 14px 45px 14px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--white);
  border-radius: 15px;
}

.nav {
  margin-right: auto;
}

.list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav-list-item {
  margin: 0 40px 0 0;
  color: var(--dark-gray);
}

.nav-list-item:last-child {
  margin: 0;
}

.btn-header {
  margin: 0 40px 0 0;
}

.btn-header:last-child {
  margin: 0;
}



                        /* Main */

 .section{
  padding: 35px 0;
}

.section:last-child {
  padding: 35px 0 0 0;
}

.titles{
  color: var(--black3);
  font-size: 40px;
  text-indent: 40px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.text {
  margin: 0;
}


                        /* Special-offer */

.cards-wrapper-outer {
  display: flex;
}

.special-offer-cards-wrapper {
  display: flex;
  flex-direction: column;
}

.card-large-wrapper {
  display: flex;
  flex-direction: column;
}

.card-large:not(:last-child) {
  margin: 0 0 24px 0;
}

.special-offer-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 573px;
  min-height: 258px;
  padding: 40px 45px;
  margin: 0 24px 24px 0;
  flex-grow: 0;
  background-color: var(--gray);
  border-radius: 15px;

  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.special-offer-card:last-child {
  margin: 0 24px 0 0;
}

.so-card-one {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/Rectangle_15.jpg);
}

.so-card-two {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/Rectangle_14.jpg);
}

.card-large {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 573px;
  min-height: 540px;
  padding: 40px 45px;
  flex-grow: 0;
  background-color: var(--gray);
  border-radius: 15px;

  position: relative;

  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/33_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.special-offer-titles {
  margin: 0 0 13px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  color: var(--white);
}

.special-offer-titles-large {
  margin: 0 0 15px 0;
  font-weight: 700;
  font-size: 60px;
  color: var(--white);
}

.special-offers-price {
  margin: 0 0 45px 0;
  font-size: 20px;
  line-height: normal;
  opacity: 0.8;
  color: var(--white);
}

.special-offers-price-large {
  margin: 0 0 47px 0;
  font-size: 30px;
  opacity: 0.8;
  color: var(--white);
}

.special-offers-details {
  align-self: start;
  padding: 0 16px 0 0;
  line-height: normal;
  color: var(--light-beige);
  background-image: url(../img/Rectangle_2.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% 45%;
  transition: color 0.5s, padding 0.5s;
}

.special-offers-details::before, .special-offers-details-large::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.special-offers-details-large {
  width: max-content;
  padding: 0 16px 0 0;
  color: var(--light-beige);
  background-image: url(../img/Rectangle_2.svg);
  background-repeat: no-repeat;
  block-size: auto;
  background-position: 100% 45%;
  transition: color 0.5s, padding 0.5s;
}


                        /* About */

.about-text {
  line-height: 200%;
  color: var(--black0);
  padding: 0 280px 0 0;
}


                        /* Services */

.services-list {
  flex-wrap: wrap;
  gap: 24px;
}

.services-list-item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 573px;
  min-height: 330px;
  padding: 191px 126px 35px 45px;
  flex-shrink: 0;
  background-color: var(--white);
  border-radius: 15px;

  position: relative;

  background-repeat: no-repeat;
  background-size: 573px 165px;
  background-position: top;
}

.serv-img-one {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/services_1.jpg);
}

.serv-img-two {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/services_2.jpg);
}

.serv-img-three {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/services_3.jpg);
}

.serv-img-four {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/services_4.jpg);
}

.services-details {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

.services-details-href {
  color: var(--beige);

  align-self: start;
  padding: 0 18px 0 0;
  background-image: url(../img/Rectangle_2.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 100% 45%;

  transition: color 0.5s, padding 0.5s, background-image 0.5s;
}

.services-details-href::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.services-details-href:focus {
  outline: none;
}

.services-text {
  line-height: 200%;
  color: var(--black0);
}


                        /* Advanteges */

.advantages-list {
  flex-wrap: wrap;
  gap: 22px;
}

.advantages-list-item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 276px;
  min-height: 276px;
  padding: 116px 42px 32px 45px;
  flex-shrink: 0;
  background-color: var(--white);
  border-radius: 15px;

  background-repeat: no-repeat;
  background-size: auto;
  background-position: 45px 40px;
}

.adv-img-one {
  background-image: url(../img/bathtub.svg);
}
.adv-img-two {
  background-image: url(../img/hanger.svg);
}
.adv-img-three {
  background-image: url(../img/heating.svg);
}
.adv-img-four {
  background-image: url(../img/hotel-key.svg);
}
.adv-img-five {
  background-image: url(../img/parking.svg);
}
.adv-img-six {
  background-image: url(../img/reception.svg);
}
.adv-img-seven {
  background-image: url(../img/security-box.svg);
}
.adv-img-eight {
  background-image: url(../img/swimming-pool.svg);
}

.advantages-text {
  color: var(--black0);
  line-height: 200%;
}


                        /* Placement */

.placement-list {
  flex-wrap: wrap;
  gap: 24px;
}

.placement-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: var(--white);
  border-radius: 15px;
}

.placement-list-img {
  border-radius: 15px 15px 0 0;
}

.price-reiting-wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
}

.from {
  color: var(--gray);
}

.price {
  color: var(--black0);
  font-weight: 700;
  font-size: 20px;
}

.per-day {
  color: var(--black0);
}

.placement-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px 45px 45px 45px;
}

.price-wrapper {
  margin: 0 auto 16px 0;
}

.placement-place {
  margin: 0 0 16px 0;
  color: var(--black0);
  font-weight: 400;
  font-size: 16px;
}

.city-country {
  margin: 0 0 20px 0;
  color: var(--gray);
}

.placement-list-item {
  max-width: 374px;
  min-height: 440px;
}

.see-all-wrapper {
  width: 374px;
  min-height: 440px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 54px 27px 54px;
  background-color: var(--gray);
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url(../img/41.jpg);
  background-size:cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 15px;

}

.href-see-all {
  padding: 0 14px 0 0;
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  background-image: url(../img/Rectangle_1.svg);
  background-repeat: no-repeat;
  block-size: auto;
  background-position: right;

  transition: padding 0.5s;
}

.href-see-all:focus {
  outline: none;
}

.href-see-all:hover:not(:focus-visible) {
  padding: 0 17px 0 0;
}

.href-see-all::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: outline 0.5s;
}

.href-see-all:focus-visible::before {
  outline: 1px solid var(--beige);
  outline-offset: 8px;
}



            /* Search */

.search-wrapper {
  padding: 45px 45px;
  border-radius: 15px;
  background: #E9E9E9;
}

.search-title {
  text-indent: -5px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  padding: 23px 32px;
  border-radius: 15px;
  background: var(--white);
}

.form-label, .form-input, .form-select {
  font-size: 16px;
  color: var(--black0);
  border: none;
}

.form-label {
  flex-shrink: 0;
  line-height: 250%;
  margin: 0 10px 0 0;
  font-size: 12px;
}

.form-label:last-child {
  margin: 0 51px 0 0;
}

.form-label-city, .form-label-country {
  flex-basis: 169px;
}

.form-label-date, .form-label-nights, .form-label-tourists {
  flex-basis: 121px;
}

.form-select {
  width: 100%;
  appearance: none;
  background-image: url(../img/Rectangle-form.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.search-date {
  width: 100%;
  appearance: none;
}

.search-nights, .search-tourists {
  width: 100%;
  border-bottom: 1px solid #E9E9E9;
  background-image: url(../img/Group_65.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.btn-form {
  padding: 11px 30px;
  align-self: center;
}



            /* Contacts */

.contacts-wrapper-outer {
  display: flex;
  padding: 45px;
  border-radius: 15px;
  background: var(--white);
}

.contacts-wrapper-left {
  flex-basis: 374px;
  margin: 0 53px 0 0;
}

.contacts-list {
  display: flex;
  flex-direction: column;
}

.contacts-list-item {
  display: flex;
  padding: 0 0 23px 0;
  margin: 0 0 25px 0;
  border-bottom: 1px solid #E9E9E9;
}

.contacts-list-item:last-child {
  margin: 0 0 45px 0;
}

.contacts-list-item-wrapper-left {
  flex-basis: 145px;
}

.contacts-titles {
  color: var(--black0);
  font-weight: 700;
  font-size: 20px;
}

.contacts-list-item-wrapper-right {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 229px;
}

.contacts-address, .contacts-opening-hours {
  font-style: normal;
  appearance: none;
  color: var(--black0);
  line-height: 150%;
}

.contacts-phone-href {
  color: var(--beige);
  line-height: 150%;
}

.contacts-mail-href {
  color: var(--beige);
  line-height: 150%;
}

.contacts-mail-description {
  color: var(--gray);
  line-height: 150%;
}

.contacts-btn {
  padding: 30px;
}

.contacts-wrapper-right {
  flex-basis: 653px;
}

.contacts-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


            /* Footer */

.footer {
  padding: 40px 0 30px 0;
}

.footer-wrapper-outer {
  display: flex;
  justify-content: space-between;
  padding: 45px;
  border-radius: 15px;
  background: var(--black3);
  background-image: url(../img/Frame_11.png);
  background-repeat: no-repeat;
  background-position: 82% 100%;
}

.footer-wrapper-left {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.footer-company {
  margin: 0 0 37px 0;
  color: var(--white);
  line-height: 190%;
  font-weight: 400;
}

.footer-description {
  margin: 0 0 40px 0;
  color: var(--white);
  line-height: 190%;
}

.footer-user-agreement {
  color: var(--beige);
  line-height: 150%;
}

.footer-wrapper-center {
  flex-basis: 50%;
}

.footer-address-wrapper {
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.footer-address {
  margin: 0 0 15px 0;
  color: var(--white);
  line-height: 30px;
}

.footer-phone-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 0;
}

.footer-phone {
  color: var(--beige);
  line-height: 150%;
}

.footer-mail {
  color: var(--beige);
  line-height: 150%;
}

.footer-social-network-list {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.footer-social-network {
  margin: 0 0 20px 0;
}

.footer-social-network:last-child {
  margin: 0;
}

